/* Colors and font-size */
/* Ordered color */
/* Rule color */
/* card player not playing */
/* card player playing */
/* Background smartphone */
/* Player informations colors */
/* Player playing */
/* Fonts colors */
/* Base */
body {
  margin: 0;
  padding: 0;
  background-color: rgba(147, 139, 161, 0.58); }

@media screen and (min-width: 700px) {
  body {
    background: linear-gradient(90deg, rgba(178, 228, 219, 0.599877) 0%, #b0c6ce 26%, #938ba1 100%); } }

img {
  height: auto;
  max-width: 100%; }

/* Mobile-first */
h1 {
  font-size: 1.25em;
  text-align: center; }

#rule {
  width: 40px;
  line-height: 40px;
  background-color: #C4C4C4;
  border-radius: 50%;
  margin: 0 0 3% 80%;
  font-size: 0.625em;
  text-align: center;
  vertical-align: middle; }

.cardPlayer {
  background: rgba(176, 198, 206, 0.9);
  margin: 0 15px 15px 15px;
  line-height: normal;
  padding: 15px 0 15px 0; }
  .cardPlayer__one-two {
    background: rgba(56, 54, 169, 0.17);
    text-align: center;
    margin: 0 25% 3% 25%;
    padding: 3px 0 3px 0;
    font-size: 1.125em;
    border-radius: 45px; }
  .cardPlayer__score {
    width: 40px;
    line-height: 40px;
    background: #B76161;
    border-radius: 50%;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto; }
  .cardPlayer__result {
    background: #BE9999;
    text-align: center;
    font-size: 1.85em;
    margin-top: 10px;
    margin: 3% 18% 0 18%;
    border-radius: 25px; }

.ordered__replay, .ordered__rollDice, .ordered__holdPoints, .ordered__pointsObtained {
  background: rgba(178, 228, 219, 0.5);
  margin: 13px 15px 0 15px;
  border-radius: 45px;
  font-size: 1.5em;
  text-align: center;
  padding: 10px; }

.ordered__dice {
  width: 70px;
  height: 70px;
  margin: 0 auto;
  margin-top: 15px; }

.ordered__imgDice {
  max-width: 100%;
  max-height: 100%; }

.ordered__pointsObtained {
  margin-left: 18%;
  margin-right: 18%; }

.ordered__pointsValue {
  background: #D96C6C;
  color: #FFFFFF;
  border-radius: 45px;
  margin: 3% 35% 1.5% 35%; }
