/* Mobile-first */
.title {
  font-size: 1.25em;
  text-align: center;
 }

#rule {
  width: 40px;
  line-height: 40px;
  background-color: $grey;
  border-radius: 50%;
  margin: 0 0 3% 80%;
  font-size: 0.625em;
  text-align: center;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: black;
}

/* Begin Modal */
.modal {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.modal-wrapper {
  overflow: auto;
  background-color: $white;
  padding: 30px;
}

.exitModal {
  background-color: blanchedalmond;
  width: fit-content;
  padding: 5px 10px 5px 10px;
  margin-left: 80%;
  border-radius: 45px;
}

#ruleModal {
  text-align: center;
}

p {
  text-align: justify;
}

.lastPhrasingModal {
  font-size: 1.172em;
  padding-top: 15px;
}
/* End Modal */

.cardPlayer1, .cardPlayer2 {
  background: $blueGrey210;
  margin: 0 15px 15px 15px;
  line-height: normal;
  padding: 15px 0 15px 0;

  &__one-two {
    background: $purple200;
    text-align: center;
    margin: 0 25% 3% 25%;
    padding: 3px 0 3px 0;
    font-size: 1.125em;
    border-radius: 45px;
  }

  &__score {
    width: 40px;
    line-height: 40px;
    background: $red500;
    border-radius: 50%;
    text-align: center;
    color: $white;
    margin: 0 auto;
  }

  &__result {
    background: $pink200;
    text-align: center;
    font-size: 1.85em;
    margin-top: 10px;
    margin: 3% 18% 0 18%;
    border-radius: 25px;
  }
}

.ordered {
 
  &__replay, &__rollDice, &__holdPoints, &__pointsObtained {
    background: $blue500;
    margin: 13px 15px 0 15px;
    border-radius: 45px;
    font-size: 1.5em;
    text-align: center;
    padding: 10px;
  }

  &__dice {
    width: 70px;
    height: 70px;
    margin: 0 auto;
    margin-top: 15px;
  }

  &__imgDice {
    max-width: 100%;
    max-height: 100%;
  }

  &__pointsObtained {
    margin-left: 18%;
    margin-right: 18%;
  }

  &__pointsValue {
    background: $red300;
    color: $white;
    border-radius: 45px;
    margin: 3% 35% 1.5% 35%;
  }
}

/* Desktop */
@media screen and (min-width: 700px) {

  .title {
    font-size: 48px;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 50px;
  }

  #rule {
    width: 60px;
    line-height: 60px;
    font-size: 16px;
    margin-bottom: 5%;
    margin-left: 90%;
    margin-top: -3%;
    cursor: pointer;
  }
  
  #rule:hover {
    animation: bounce 1s;
  }
  
  /* Begin Modal */
    .modal-wrapper {
    width: 600px;
    max-width: calc(100vw - 20px);
    max-height: calc(100vh - 20px);
    padding: 40px;
  }

  .exitModal {
    margin-left: 88%;
    cursor: pointer;
  }

  .exitModal:hover {
    animation: bounce 1s;
  }

  #ruleModal {
    padding-bottom: 20px;
    font-size: 2.5em;
  }

  p {
    font-size: 1.2em;
  }

  .lastPhrasingModal {
    font-size: 1.7em;
    text-align: center;
    padding-top: 20px;
    font-weight: bold;
  }
  /* End Modal */


  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: max-content;
    grid-template-areas: 
    "player1 ordered player2";
  }

  .ordered {
    grid-area: ordered;
  }

  .cardPlayer1, .cardPlayer2 {
    height: 700px;
    border-radius: 25px;
    box-shadow: 8px 5px 14px -11px rgba(0,0,0,0.17);
    -webkit-box-shadow: 8px 5px 14px -11px rgba(0,0,0,0.17);
    -moz-box-shadow: 8px 5px 14px -11px rgba(0,0,0,0.17);

    &__one-two {
      margin: 45px 80px 50px 80px;
      padding: 10px 0 10px 0;
      font-size: 2.5em;
    }

    &__score {
      width: 150px;
      line-height: 150px;
      font-size: 4em;
    }

    &__result {
      margin: 50px 60px 70px 60px ;
      font-size: 3.5em;
      padding: 10px 25px 10px 25px;
      border-radius: 45px;
    }
  }
  .cardPlayer1 {
  margin-left: 30%;
  }

  .cardPlayer2 {
  margin-right: 30%;  
  }

  .ordered {

    &__replay, &__rollDice, &__holdPoints {
      margin: 0 80px 0 80px;
      padding-top: 20px;
      padding-bottom: 20px;
      font-size: 2em;
      cursor: pointer;
    }

    &__replay {
      margin-top: 50px;
    }

    &__replay:hover {
      animation: bounce 1s;
    }

    &__dice {
      height: 150px;
      width: 150px;
    }

    &__imgDice {
      margin-top: 30px;
    }

    &__rollDice {
      margin: 75px 120px 0 120px;
      font-size: 2.5em;
    }

    &__pointsObtained {
      margin-top: 60px;
      margin-left: 30%;
      margin-right: 30%;
    }

    &__holdPoints {
      margin-top: 45px;
      font-size: 2.5em;
    }
  }
}





/* Effet de rebond pour le bouton "Recommencer une partie" et "Règles" (.ordered__replay - #rule) */
@keyframes bounce {
  0%, 20%, 60%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
