/* Mobile-first */
h1 {
  font-size: 26px;
  text-align: center;
  padding-top: 15px;
}

#rule {
  width: 50px;
  line-height: 50px;
  background-color: #C4C4C4;
  border-radius: 50%;
  margin-left: 76%;
}

.rule-text {
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
}