/* Main colors */
$blue500: #B2E4DB;
$blueGrey200: #B0C6CE;
$purpleGrey600: #938BA1;

/* Player informations colors */
$purple200: #3836A9;
$red500: #B76161;
$red300: #D96C6C;
$pink200: #BE9999;

/* Rule color */
$grey: #C4C4C4;

/* Fonts colors */
$white: #FFFFFF;
$black: #000000;